@page "/books"
@using BlazorApp.Models
@using Microsoft.EntityFrameworkCore
@inject BookContext BookContext

<h3>Book List</h3>

@if (books == null)
{
    <p>Loading...</p>
}
else if (books.Count == 0)
{
    <p>No books available.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Book>? books;

    protected override async Task OnInitializedAsync()
    {
        books = await BookContext.Books.ToListAsync();
    }
}
